﻿@model Football_News_Website_Final.Models.Event
@{
    ViewBag.Title = "eventsForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Event</h1>

@using (Html.BeginForm("add_or_update", "Events"))
{
    <div class="form-group">
        @Html.LabelFor(n => n.Title)
        @Html.TextBoxFor(n => n.Title, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.partialContent)
        @Html.TextAreaFor(n => n.partialContent, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.fullContent)
        @Html.TextAreaFor(n => n.fullContent, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.Added_Date)
        @Html.TextBoxFor(n => n.Added_Date, new { type = "date" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.image)
        @Html.TextBoxFor(n => n.image, new { type = "file" })
    </div>

    <br />

    @Html.HiddenFor(n => n.ID)

    <button type="submit" class="btn btn-primary">Save</button>
    <button type="reset" class="btn btn-primary">Reset</button>
}

