﻿@model  IEnumerable<Football_News_Website_Final.Models.Event>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="events-div">
    <h1 class="about-div-hed">All Events</h1>
</div>

@if (!(Model.Any()))
{
    <h6>No Events to display</h6>
}
else
{
    @*true = left false= right*@
    bool align = true;

    foreach (var e in Model.OrderByDescending(item => item.Added_Date).ToList())
    {
        if (align == true)
        {
            align = false;
            <figure class="img-thumbnail" style="float: left; width: 50%; height:400px;">
                <img src="~/Content/Photos/@e.image" class="img-rounded img-responsive" style="width: 100%; height:80%;">
                <figcaption class="figure-caption">
                    @e.Added_Date
                </figcaption>
                <p>
                    <b>
                        @Html.ActionLink(e.Title, "Single", "Events", new { id = e.ID }, null);
                    </b>
                    <br>
                    @e.partialContent
                </p>
            </figure>
        }
        else
        {
            align = true;
            <figure class="img-thumbnail" style="float: right; width: 50%; height:400px;">
                <img src="~/Content/Photos/@e.image" class="img-rounded img-responsive" style="width: 100%; height:80%;">
                <figcaption class="figure-caption">
                    @e.Added_Date
                </figcaption>
                <p>
                    <b>
                        @Html.ActionLink(e.Title, "Single", "Events", new { id = e.ID }, null);
                    </b>
                    <br>
                    @e.partialContent
                </p>
            </figure>
        }
    }

    <button type="button" class="btn btn-primary">@Html.ActionLink("Events Table", "List", "Events", null, new { @class = "tables-btn-link" })</button>
}

