﻿@model IEnumerable<Football_News_Website_Final.Models.Event>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Table of Events</h1>

@if (!(Model.Any()))
{
    <h6>No Events to display</h6>
}
else
{
    <table class="table table-hover" id="Events" style="width:1000px;">
        <thead>
        <th scope="col">Title</th>

        <th scope="col">Delete</th>
        </thead>
        <tbody>
            @foreach (var n in Model)
            {
                <tr class="table-secondary">
                    <td>
                        @Html.ActionLink(n.Title, "Edit", "Events", new { id = n.ID }, null)
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger">@Html.ActionLink("Delete", "deleteNews", "Events", new { id = n.ID}, null)</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <button type="button" class="btn btn-primary">@Html.ActionLink("Add Event", "eventsForm", "Events",null, new { @class = "tables-btn-link" })</button>
}

@section scripts
{
    <script>
            $(document).ready(function ()
            {
                $("#Events").DataTable();
            }
            );
    </script>
}

