﻿@model Football_News_Website_Final.Models.Event
@{
    ViewBag.Title = "Single";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mb-3">
    <h3 class="card-header">@Model.Title</h3>
    <img style="height: 500px; width: 100%; display: block;" src="~/Content/Photos/@Model.image" alt="Card image">
    <div class="card-body">
        <p class="card-text">@Model.fullContent</p>
    </div>
    <div class="card-footer text-muted">
        @Model.Added_Date
    </div>
</div>

