﻿<nav class="navbar navbar-expand-xl navbar-dark bg-dark" style="height:45px;">
    <div class="container">
        <ul class="navbar-nav ml-auto">
            <li class="navbar-brand nav-h"> <img src="~/Content/Photos/Logo.png" height="30px" width="40px"/> </li>
            <li class="navbar-brand nav-h"> @Html.ActionLink("Football News", "Index", "Home", null, new { @class = "nav-cust " }) </li>
        </ul>
        <div class="navbar-collapse collapse" id="navbar9">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item nav-link"> @Html.ActionLink("Admins", "Index", "Admins", null, new { @class = "nav-cust" }) </li>
                <li class="nav-item nav-link"> @Html.ActionLink("Events", "Index", "Events", null, new { @class = "nav-cust" }) </li>
                <li class="nav-item nav-link"> @Html.ActionLink("News", "Index", "News", null, new { @class = "nav-cust" }) </li>
                <li class="nav-item nav-link"> @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-cust" }) </li>
                <li class="nav-item nav-link"> @Html.ActionLink("About Us", "About", "Home", null, new { @class = "nav-cust" }) </li>
            </ul>
        </div>
    </div>
</nav>