﻿body {
}

.tables-btn-link
{
    color: whitesmoke;
    text-decoration: none;
}

.tables-btn-link:hover 
{
    color: whitesmoke;
    text-decoration: none;
}

.events-div 
{
    min-height: 300px;
    min-width:1010px;
    background-image: url(Photos/allev-2.jpg);
    background-size: 100% 100%;
}

.events-div-hed {
    position: absolute;
    left: 505px;
    bottom:100px;
    font-family: Charm;
    font-size: 100px;
}