﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nav-cust 
{
    color : whitesmoke;
}

.nav-cust:hover
{
    text-decoration:none;
    color:whitesmoke;
    background-color: gray;
}

.about-div 
{
    min-height: 700px;
    min-width: 1050px;
    background-image: url(Photos/aub.jpg);
    background-size: 100% 100%;
}

.about-div-hed 
{
    position: relative;
    left : +70px;
    top : +200px;
    font-family : Charm;
    font-size : 100px;
}