﻿@{
    ViewBag.Title = "About";
}


<div class="about-div">
    <h1 class="about-div-hed"> About US </h1>
</div>

<br />
<table class="table" style="background-color:#383737;">
    <tbody>
        <tr>
            <td>
                <figure class="img-thumbnail" style="width:300px;height:510px;">
                    <img src="~/Content/Photos/DN.png" class="img-rounded img-responsive left" style="width:100%;height:300px;">
                    <figcaption class="figure-caption">
                        <b>
                            <br />
                            Daily Football News
                        </b>
                    </figcaption>
                    <br />
                    <p>
                        Daily News is a sport media online platform established in 2019 in Cairo Egypt.
                        Dail News offers the most recent and accurate sports news and scores worldwide.
                        We offer free and updated unbiased sports news fo all sportshollics.
                    </p>
                </figure>
            </td>
            <td>
                <figure class="img-thumbnail" style="width:300px;height:510px;">
                    <img src="~/Content/Photos/FTN.png" class="img-rounded img-responsive left" style="width:100%;height:300px;">
                    <figcaption class="figure-caption">
                        <b>
                            <br />
                            Football Transfer News
                        </b>
                    </figcaption>
                    <br />
                    <p>
                        Daily news covers the most recent football club transfers in local and global markets.
                    </p>
                </figure>
            </td>
            <td>
                <figure class="img-thumbnail" style="width:300px;height:510px;">
                    <img src="~/Content/Photos/LS.png" class="img-rounded img-responsive left" style="width:100%;height:300px;">
                    <figcaption class="figure-caption">
                        <b>
                            <br />
                            Live Scores
                        </b>
                    </figcaption>
                    <br />
                    <p>
                        Daily news covers the live scores for all matches in local and global leagues and minute to minute live updates.
                        We provide fixtures schedule.
                    </p>
                </figure>
            </td>
        </tr>
    </tbody>
</table>

@*Footer*@
<div class="jumbotron">
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <p class="lead">
                        Visit us at
                    <p>
                    <p>
                        10 Merghany st, Almaza, Masr el Gedida, Cairo, Egypt
                    </p>

                    <p class="lead">
                        Want to get in touch?<br />
                        Call us on
                    </p>
                    <p>
                        01153378492
                    </p>


                    <p class="lead">
                        E-mail Us
                    </p>
                    <p>
                        Football_News@gmail.com
                    </p>
                </td>

                <td align="justify">
                    <p class="lead">
                        Follow Us on Social Media
                    </p>

                    <table>
                        <tr>
                            <td>
                                <img src="~/Content/Photos/fb_icon.png" width="40px" height="40px" />
                            </td>
                            <td>
                                <p class="lead">Facebook</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="~/Content/Photos/twitter_icon.png" width="40px" height="40px" />
                            </td>
                            <td>
                                <p class="lead">Twitter</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="~/Content/Photos/insta_icon.png" width="40px" height="40px" />
                            </td>
                            <td>
                                <p class="lead">Instagram</p>
                            </td>
                        </tr>
                    </table>
                </td>

                <td>
                    <p>
                        2007-2019 Football News LTD<br />
                        Terms and Conditions  Privacy Policy<br />
                        Registered Address:<br />
                        89 Masr el gedida, Cairo, Egypt
                    </p>

                </td>
            </tr>
        </tbody>
    </table>
</div>
