﻿@{
    ViewBag.Title = "Contact";
}
<br />
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYM-t9jmqhFWfWq_XABwnZKL9L0L91svg&callback=initMap" async defer></script>

<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 400px;
        width: 100%;
    }
</style>

<div id="map"></div>
<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 30.044281, lng: 31.340002 },
            zoom: 12
        });
    }
</script>
<br />

<form action="mailto:Football_News@gmail.com" method="post" enctype="text/plain">
    <fieldset>
        <legend>For inquiries or concerns you can us an E-mail from here</legend>
        <div class="form-group">
            <label for="exampleInputName">Name</label>
            <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp" placeholder="Enter Your Name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputAddress">Address</label>
            <input type="text" class="form-control" id="exampleInputAddress" aria-describedby="addressHelp" placeholder="Enter Your Address">
        </div>
        <div class="form-group">
            <label for="exampleTextarea">Message</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-primary">Reset</button>
    </fieldset>
</form>

<div class="jumbotron">
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <p class="lead">
                        Visit us at
                    <p>
                    <p>
                        10 Merghany st, Almaza, Masr el Gedida, Cairo, Egypt
                    </p>

                    <p class="lead">
                        Want to get in touch?<br />
                        Call us on
                    </p>
                    <p>
                        01153378492
                    </p>


                    <p class="lead">
                        E-mail Us
                    </p>
                    <p>
                        Football_News@gmail.com
                    </p>
                </td>

                <td align="justify">
                    <p class="lead">
                        Follow Us on Social Media
                    </p>

                    <table>
                        <tr>
                            <td>
                                <img src="~/Content/Photos/fb_icon.png" width="40px" height="40px" />
                            </td>
                            <td>
                                <p class="lead">Facebook</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="~/Content/Photos/twitter_icon.png" width="40px" height="40px" />
                            </td>
                            <td>
                                <p class="lead">Twitter</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="~/Content/Photos/insta_icon.png" width="40px" height="40px" />
                            </td>
                            <td>
                                <p class="lead">Instagram</p>
                            </td>
                        </tr>
                    </table>
                </td>

                <td>
                    <p>
                        2007-2019 Football News LTD<br />
                        Terms and Conditions  Privacy Policy<br />
                        Registered Address:<br />
                        89 Masr el gedida, Cairo, Egypt
                    </p>

                </td>
            </tr>
        </tbody>
    </table>
</div>



