﻿@model IEnumerable<News_Website.Models.News>
@{
    ViewBag.Title = "Home Page";
}

<h1>Breaking News</h1>

<div class="card mb-3">
    <iframe style="height: 500px; width: 100%;" src="https://www.youtube.com/embed/-0cfTZrkG3s?playlist=-0cfTZrkG3s&loop=1&autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

@if (!(Model.Any()))
{
    <h5>No News Found</h5>
}
else
{
    foreach (var n in Model.OrderByDescending(item => item.AddedDate).Take(5).ToList())
    {
        <div class="card mb-3">
            <h3 class="card-header">@n.Title</h3>
            <img style="height: 500px; width: 100%; display: block;" src=@Url.Content("~/"+ n.Image) alt="Card image">
            <div class="card-body">
                <p class="card-text">@n.PartialContent</p>
            </div>
            <div class="card-footer text-muted">
                @n.AddedDate
            </div>
        </div>
    }
}

@*Map for Location**@
<br />

<h1>Our Location</h1>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYM-t9jmqhFWfWq_XABwnZKL9L0L91svg&callback=initMap" async defer></script>

<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 400px;
        width: 100%;
    }
</style>

<div id="map"></div>
<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 30.044281, lng: 31.340002 },
            zoom: 12
        });
    }
</script>
<br />

@*Footer*@
<div class="jumbotron">
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <p class="lead">
                        Visit us at
                    <p>
                    <p>
                        10 Merghany st, Almaza, Masr el Gedida, Cairo, Egypt
                    </p>

                    <p class="lead">
                        Want to get in touch?<br />
                        Call us on
                    </p>
                    <p>
                        01153378492
                    </p>


                    <p class="lead">
                        E-mail Us
                    </p>
                    <p>
                        Football_News@gmail.com
                    </p>
                </td>

                <td align="justify">
                    <p class="lead">
                        Follow Us on Social Media
                    </p>

                    <table>
                        <tr>
                            <td>
                                <img src="~/Content/Photos/fb_icon.png" width="40px" height="40px" />
                            </td>
                            <td>
                                <p class="lead">Facebook</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="~/Content/Photos/twitter_icon.png" width="40px" height="40px" />
                            </td>
                            <td>
                                <p class="lead">Twitter</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="~/Content/Photos/insta_icon.png" width="40px" height="40px" />
                            </td>
                            <td>
                                <p class="lead">Instagram</p>
                            </td>
                        </tr>
                    </table>
                </td>

                <td>
                    <p>
                        2007-2019 Football News LTD<br />
                        Terms and Conditions  Privacy Policy<br />
                        Registered Address:<br />
                        89 Masr el gedida, Cairo, Egypt
                    </p>

                </td>
            </tr>
        </tbody>
    </table>
</div>


