﻿@model IEnumerable<Football_News_Website_Final.Models.Admin>
@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Our Admins</h1>

@if (!(Model.Any()))
{
    <h2>
        No Admins Found
    </h2>
}
else
{
    <table class="table table-hover" id ="Admins" style="width:1000px;">
        <thead >
            <tr>
                <th scope="col">Admin Name</th>

                <th scope="col">E-mail</th>

                <th scope="col">Active</th>

                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in Model)
            {
                <tr class="table-secondary">
                    <td>@Html.ActionLink(a.adminName, "Edit", "Admins", new { id = a.ID }, null)</td>

                    <td>@a.Email</td>

                    <td>
                        @if (a.Active == true)
                        {
                            <p class="lead">
                                Yes
                            </p>
                        }
                        else
                        {
                            <p class="lead">
                                No
                            </p>
                        }
                    </td>

                    <td>
                        <button type="button" class="btn btn-danger">@Html.ActionLink("Delete", "deleteAdmin", "Admins", new { id = a.ID}, null)</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <button type="button" class="btn btn-primary">@Html.ActionLink("Add New Admin","newAdmin", "Admins", null, new { @class = "tables-btn-link" })</button>
}


@section scripts
{
    <script>
        $(document).ready(function ()
        {
            $("#Admins").DataTable();
        }
        );
    </script>
}
