﻿@model Football_News_Website_Final.ViewModel.NewAdminCustomerViewModel
@{
    ViewBag.Title = "newAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin Registration</h1>

@using (Html.BeginForm("add_or_update", "Admins"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.admin.Name)
        @Html.TextBoxFor(m => m.admin.Name, new { @class = "form-control" })
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.admin.adminName)
        @Html.TextBoxFor(m => m.admin.adminName, new { @class = "form-control" })
    </div>

    <div>
        @Html.LabelFor(m => m.admin.roleID)
        @Html.DropDownListFor(m => m.admin.roleID, new SelectList(Model.Roles, "Id", "abr"), "Select Role Name", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.admin.Email)
        @Html.TextBoxFor(m => m.admin.Email, new { @class = "form-control" })
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.admin.Password)
        @Html.TextBoxFor(m => m.admin.Password, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.Label("Confirm Password")
        @Html.TextBox("Confirm Password", null, new { @class = "form-control" })
    </div>

    <div class="checkbox">
        @Html.CheckBoxFor(m => m.admin.Active) Active
    </div>

    <br />

    @Html.HiddenFor(m => m.admin.ID)

    <button type="submit" class="btn btn-primary">Save</button>
    <button type="reset" class="btn btn-primary">Reset</button>
}