﻿@model IEnumerable<Football_News_Website_Final.Models.News>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
     <tr>
         <td>
              <h3>All News</h3>
         </td>
         <td style="float: right;">
              <button type="button" class="btn btn-primary">@Html.ActionLink("News Table", "List", "News", null,new { @class = "tables-btn-link" })</button>
         </td>
     </tr>
</table>

@if (!(Model.Any()))
{
    <h5>No News to display</h5>
}
else
{
    @* true = left false= rigth *@
    bool align = true;

    foreach (var news in Model.OrderByDescending(item => item.AddedDate).ToList())
    {
        if (align == true)
        {
            align = false;
            <figure class="img-thumbnail" style="float: left; width: 50%; height:600px;">
                <img src="~/Content/Photos/@news.Image" class="img-rounded img-responsive" style="width: 100%; height:80%;">
                <figcaption class="figure-caption">
                    @news.AddedDate
                </figcaption>
                <p>
                    <b>
                        @Html.ActionLink(news.Title, "Single", "News", new { id = news.ID }, null);
                    </b>
                    <br>
                    @news.PartialContent
                </p>
            </figure>
        }
        else
        {
            align = true;
            <figure class="img-thumbnail" style="float: right; width: 50%; height:600px;">
                <img src="~/Content/Photos/@news.Image" class="img-rounded img-responsive" style="width: 100%; height:80%;">
                <figcaption class="figure-caption">
                    @news.AddedDate
                </figcaption>
                <p>
                    <b>
                        @Html.ActionLink(news.Title, "Single", "News", new { id = news.ID }, null);
                    </b>
                    <br>
                    @news.PartialContent
                </p>
            </figure>
        }
    }
}