﻿@model IEnumerable<Football_News_Website_Final.Models.News>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Table of News</h1>

@if (!(Model.Any()))
{
    <h6>No News Found</h6>
}
else
{
    <table class="table table-hover" id="News" style="width:1000px;">
        <thead>
        <th scope="col">Title</th>

        <th scope="col">Delete</th>
        </thead>
        <tbody>
            @foreach (var n in Model)
            {
                <tr class="table-secondary" r>
                    <td>
                       @Html.ActionLink(n.Title, "Edit", "News", new { id = n.ID}, null)
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger">@Html.ActionLink("Delete", "deleteNews", "News", new { id = n.ID }, null)</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <div>
        <button type="button" class="btn btn-primary">@Html.ActionLink("Add News", "newsForm", "News", null, new { @class = "tables-btn-link" })</button>
    </div>
    
}

@section scripts
{
    <script>
            $(document).ready(function ()
            {
                $("#News").DataTable();
            }
            );
    </script>

}
