﻿@model Football_News_Website_Final.Models.News
@{
    ViewBag.Title = "newsForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add News</h1>

@using (Html.BeginForm("add_or_update", "News"))
{
    <div class="form-group">
        @Html.LabelFor(n => n.Title)
        @Html.TextBoxFor(n => n.Title, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.PartialContent)
        @Html.TextAreaFor(n => n.PartialContent, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.FullContent)
        @Html.TextAreaFor(n => n.FullContent, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.AddedDate)
        @Html.TextBoxFor(n => n.AddedDate, new { type = "date" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.Image)
        @Html.TextBoxFor(n => n.Image, new { type = "file" })
    </div>

    <br />

    @Html.HiddenFor(n => n.ID)

    <button type="submit" class="btn btn-primary">Save</button>
    <button type="reset" class="btn btn-primary">Reset</button>
}

