﻿@model News_Website.Models.News
@{
    ViewBag.Title = "Single";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mb-3">
    <h3 class="card-header">@Model.Title</h3>
    <img style="height: 500px; width: 100%; display: block;" src= @Url.Content("~/"+Model.Image) alt="Card image">
    <div class="card-body">
        <p class="card-text">@Model.FullContent</p>
    </div>
    <div class="card-footer text-muted">
        @Model.AddedDate
    </div>
</div>